.header-container {
    height:650px;
    width:100%;
    position:relative;
    background-image: url('../../../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.header-container::after {
    height:650px;
    content:' ';
    position: absolute;
    top: 0;
    width: 35%;
    right: 0;
    background-color: #3A4256;
    z-index: -1;
}