footer{
    background: url('../../../images/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.social-media{
    padding: 0;
}
.social-media li{
    list-style-type: none;
    display: inline-block;
    margin: 0px 5px;
    cursor: pointer;
}
.social-media-icon{
    font-size: 35px;
    color: #1CC7C1;
}